<label class="form-label">POSSIBLE-X enforced policy</label>
<div cFormText>
  Please define POSSIBLE-X enforced policies based on POSSIBLE predefined policy classes for the provided Service Offering.<br><br>
  <span *ngIf="!isAnyPolicyChecked" class="font-bold">Currently, everything is allowed.</span><br>
</div>
<c-accordion [flush]="true">
  <c-accordion-item #accordionItem1="cAccordionItem" [visible]="false">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header" (click)="accordionItem1.toggleItem()">
        <label> Restrict the contractual booking to organization(s)</label>
        <mat-checkbox [(ngModel)]="isParticipantRestrictionPolicyChecked" (click)="handleCheckboxClick($event, 'isParticipantRestrictionPolicyChecked', accordionItem1)"></mat-checkbox>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please select the organization(s).
        </div>
        <div *ngFor="let id of participantRestrictionPolicyIds; let i = index; trackBy:customTrackBy" class="flex flex-col space-y-2">
          <div class="flex items-center space-x-2">
            <select [(ngModel)]="participantRestrictionPolicyIds[i]" required class="form-select">
              <option *ngFor="let id of sortedIds" [value]="id">{{ getNameIdStringById(id) }}</option>
            </select>
            <button (click)="addInput()" *ngIf="i === 0" cButton color="primary" size="sm" variant="ghost">
              <svg cIcon class="" name="cib-addthis" size="xl"></svg>
            </button>
            <button (click)="removeInput(i)" *ngIf="i > 0" cButton color="primary" size="sm" variant="ghost">
              <svg cIcon class="" name="cil-trash" size="xl"></svg>
            </button>
          </div>
          <div *ngIf="!isFieldFilled(participantRestrictionPolicyIds[i])" style="color: red">
            <small>
              Please select an organization.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item #accordionItem2="cAccordionItem" [visible]="false">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header"  (click)="accordionItem2.toggleItem()">
        <label> Restrict contract validity - start of contract</label>
        <mat-checkbox [disabled]="true" [(ngModel)]="isStartDatePolicyChecked" (click)="handleCheckboxClick($event, 'isStartDatePolicyChecked', accordionItem2)"></mat-checkbox>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please select the start date of the contract.
        </div>
        <div class="flex flex-col space-y-2">
          <mat-form-field>
            <mat-label>Select the date</mat-label>
            <input [ngxMatDatetimePicker]="picker" matInput [(ngModel)]="startDate">
            <mat-hint>DD/MM/YYYY, HH:MM:SS</mat-hint>
            <mat-datepicker-toggle [for]="$any(picker)" matIconSuffix></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [showSeconds]="true" #picker>
              <ngx-mat-datepicker-actions>
                <button ngxMatDatepickerApply>
                  <mat-icon>done</mat-icon>
                </button>
              </ngx-mat-datepicker-actions>
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <div *ngIf="!isValidDate(startDate)" style="color: red">
            <small>
              Please select a start date.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item #accordionItem3="cAccordionItem" [visible]="false">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header"  (click)="accordionItem3.toggleItem()">
        <label> Restrict contract validity - end of contract</label>
        <mat-checkbox [(ngModel)]="isEndDatePolicyChecked" (click)="handleCheckboxClick($event, 'isEndDatePolicyChecked', accordionItem3)"></mat-checkbox>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please select the end date of the contract.
        </div>
        <div class="flex flex-col space-y-2">
          <mat-form-field>
            <mat-label>Select the date</mat-label>
            <input [ngxMatDatetimePicker]="picker" matInput [(ngModel)]="endDate">
            <mat-hint>DD/MM/YYYY, HH:MM:SS</mat-hint>
            <mat-datepicker-toggle [for]="$any(picker)" matIconSuffix></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [showSeconds]="true" #picker>
              <ngx-mat-datepicker-actions>
                <button ngxMatDatepickerApply>
                  <mat-icon>done</mat-icon>
                </button>
              </ngx-mat-datepicker-actions>
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <div *ngIf="!isValidDate(endDate)" style="color: red">
            <small>
              Please select an end date.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
</c-accordion>
<div *ngIf="this.isInvalidParticipantRestrictionPolicy || this.isInvalidStartDatePolicy || this.isInvalidEndDatePolicy" style="color: red">
  <small>
    Please check the selected POSSIBLE-X enforced policies.
  </small>
</div>
