<div class="flex items-center justify-center min-h-screen"> <!-- Full-page flex container -->
  <div class="p-6 w-full"> <!-- Centered form container with fixed max width -->
    <div class="flex flex-col pb-14">
      <div class="text-3xl font-bold text-brand-800">
        Contracts
      </div>
      <div class="text-xl font-bold text-brand-400">
        Contracts ({{ contractAgreements.length }})
      </div>
    </div>
    <table class="table table-fixed">
      <thead>
      <tr>
        <th class="w-10">Nr.</th>
        <th class="w-48">Contract signed</th>
        <th class="w-1/6">Asset ID</th>
        <th class="w-1/6">Provider</th>
        <th class="w-1/6">Consumer</th>
        <th class="w-1/6">Contract Agreement ID</th>
        <th class="w-40"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of contractAgreements; let i = index">
        <tr>
          <td class="overflow-clip text-nowrap text-ellipsis">{{ i + 1 }}</td>
          <td class="overflow-clip text-nowrap text-ellipsis">{{ item.contractSigningDate | date:'medium' }}</td>
          <td class="overflow-clip text-nowrap text-ellipsis">{{ item.assetId }}</td>
          <td class="overflow-clip hover:tooltip text-nowrap text-ellipsis">{{ item.providerId }}</td>
          <td class="overflow-clip text-nowrap text-ellipsis">{{ item.consumerId }}</td>
          <td class="overflow-clip text-nowrap text-ellipsis">{{ item.id }}</td>
          <!--td><span (click)="copyToClipboard(item.assetId)" class="preview" title="Click to copy">
    {{ item.assetId | slice:0:10 }}...
    <span class="tooltip">{{ item.assetId }}</span>
  </span></td-->
          <td>
            <button (click)="toggleAccordion(item.id)" cButton>Details</button>
          </td>

        </tr>
        <tr *ngIf="item.id === expandedItemId">
          <td (click)="toggleAccordion(item.id)" colspan="4">
            <span>Asset Name:</span><br><span>{{ item.assetDetails?.name || "-" }}</span><br><br>
            <span>Asset Details:</span><br><span>{{ item.assetDetails?.description || "-" }}</span><br><br>
            <span>Policy:</span><br>
            <pre class="custom-pre">{{ getPolicyAsString(item.policy) }}</pre>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
